SPRING_PROFILES_ACTIVE=user-test
SERVER_PORT=8080
APP_TELEGRAM_WEBHOOK_SECRET=replace-me

DATA_DIR=/root/data
LOG_DIR=/root/logs
DUMP_DIR=/root/dumps

JAVA_OPTS=-Xms128m -Xmx384m -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/app/dumps -Xlog:gc*:file=/app/logs/gc.log:utctime

ENABLE_DEBUG=false
ENABLE_JMX=false
DEBUG_PORT=5005
JMX_PORT=9010
JMX_RMI_HOSTNAME=127.0.0.1
