spring:
  datasource:
    url: jdbc:h2:file:/data/scriptdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  jpa:
    hibernate:
      ddl-auto: update
server:
  port: 8080
logging:
  level:
    org:
      hibernate:
        SQL: OFF
        type:
          descriptor:
            sql: OFF
        orm:
          jdbc:
            bind: OFF
        tool:
          hbm2ddl: ERROR
      springframework:
        orm:
          jpa: ERROR
